<div class="form-group">
    <form>
    	<h4>Chart Types</h4>
    	<div class="opt-group">
	    	<div ng-repeat="(key, value) in $root.editorParams.label">
		    	<div class="form-group">
			      	<label for="sel1">{{key}}</label>
			      	<select class="form-control" id="sel1" ng-model="vis.params.editorPanel.types[key]">
			      		<option value=""></option>
				        <option value="bar">Bar chart</option>
				        <option value="line">Line Chart</option>
				        <option value="spline">Spline Chart</option>
				        <option value="step">Step Chart</option>
				        <option value="scatter">Scatter Plot</option>
				        <option value="area">Area Chart</option>
				        <option value="area-spline">Area-Spline Chart</option>
				        <option value="area-step">Area-Step Chart</option>
			      	</select>
		    	</div>
	    	</div>
    	</div>
  	</form>
</div>

<div class="form-group">
    <form>
    	<h4>Chart Colors</h4>
    	<div class="opt-group">
	    	<div ng-repeat="(key, value) in $root.editorParams.label">
		    	<div class="form-group">
			      	<label for="sel2">{{key}}</label>
			      	<input type="color" name="sel2" id="sel2" ng-model="vis.params.editorPanel.colors[key]" class="form-control">
		    	</div>
	    	</div>
    	</div>
  	</form>
</div>

<div class="form-group">
	<label> Enable zoom </label>
	<input type="checkbox" ng-model="vis.params.enableZoom">
</div>


